$color-accent: #0038FF
$color-text: #000000
$color-text-alt: #454545
$color-background: #FFFFFF
$color-background-alt: #F2F2F2
$color-border: rgba(0, 0, 0, 0.30)
$color-selection: $color-background
$color-selection-background: rgba($color-text, .7)

$body-font-family: "Baskerville", "Times New Roman", "Times", serif
$heading-font-family: $body-font-family

$h1-weight: normal
$h3-weight: normal


// // Header
// $header-color: var(--color-text)
// $header-hover-color: var(--color-accent) // TODO : Réflechir à plus élégant / générique
$header-background: none
// $header-transition: 0.3s
// $header-dropdown-full: false
// $header-dropdown-background: $header-background
// $header-dropdown-color: $header-color
// $header-dropdown-transition: $header-transition
// $header-sticky-enabled: true
// $header-sticky-background: var(--color-background)
// $header-sticky-dropdown-background: $header-sticky-background
// $header-sticky-color: $header-color
// $header-sticky-transition: $header-transition
// $header-nav-padding-y: pxToRem(20)
// $header-nav-padding-y-desktop: pxToRem(30)
// $header-logo-height: 32px
// $header-logo-height-desktop: $header-logo-height
// $header-height: 87px
// $header-height-desktop: 96px
// $header-sticky-invert-logo: false
$header-border-bottom-width: 0

// // Navs
// $body-overlay-color: rgba(0, 0, 0, 0.3)

// // Footer
// $footer-color: var(--color-text)
$footer-background-color: none
// $footer-logo-height: $header-logo-height
// $footer-logo-height-desktop: $footer-logo-height
// $footer-icons-enabled: true
// $footer-icons-size: pxToRem(32)
// $footer-text-hidden: false
// $dropdown-i18n-background-color: var(--color-background)
// $dropdown-i18n-color: var(--color-text)

// // Hero
// $hero-height: 300px
// $hero-height-desktop: 500px
// $hero-color: var(--color-text)
$hero-background-color: none
// $hero-credit-color: var(--color-text-alt)
