.page__home
    .logo
        opacity: 0
footer#document-footer
    .logo
        display: none
@include media-breakpoint-up(desktop)
    .projects__section,
    .projects_categories__term
        .projects
            grid-template-columns: repeat(3, 1fr)
    .projects__page
        .hero
            figure
                width: columns(2)
            &--image-landscape
                figure
                    width: columns(3)
    .block-projects 
        .grid
            grid-template-columns: repeat(3, 1fr)