.page__home
    .logo
        opacity: 0
footer#document-footer
    .logo
        display: none
@include media-breakpoint-up(desktop)
    .projects__section,
    .projects_categories__term
        .projects
            grid-template-columns: repeat(3, 1fr)
    .projects__page
        .hero
            figure
                width: columns(2)
            &--image-landscape
                figure
                    width: columns(3)
    .block-projects 
        .grid
            grid-template-columns: repeat(3, 1fr)
    .block-testimonials 
        figure
            padding-right: 0 !important
            margin-left: auto
            margin-right: auto
            width: columns(8)
.block 
    .block-title
        text-transform: none
        font-style: italic